@import reset.sass
@import fonts.sass

body
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  color: white


.search
  width: 100%
  &__selected


#selectedCity
  font-weight: 700

.weather 
  &__container
    width: 320px
    margin: 0 auto
    
  &__search-input
    width: 100%
    padding: 5px
  &__search
    width: 100%
  &__selected-city
    margin-top: 10px

  &__days
    margin-top: 50px
    
    border-radius: 5px

    display: grid
    grid-column: 1fr
    background-color: #222346

  &__now
    padding: 10px

    display: grid
    grid-auto-flow: column
    align-items: center
    gap: 10px
    
  &__next-day

  &__img

  &__list
    background-color: #363640
    padding: 10px
  &__text


.now 

  &__temperature
    // justify-self: end
    // text-align: end
    &_real
      font-size: 3rem
      font-weight: 500

    &_feels

  &__weather


  &__text-weather


  &__location

  &__img
    fill: white


.next 
  &-day__text


  &-day__weather


  &-day__temp

    &-block

    &-max

    &-min


